/* details.css */

.painting-details-container {
    font-family: 'Arial', sans-serif;
    max-width: 1000px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .carousel img {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
    object-fit: cover;
  }
  
  .painting-details {
    text-align: center; /* Center all text inside painting-details */
    width: 100%; /* Ensure it takes the full width */
  }
  
  .painting-features {
    list-style: none;
    padding: 0;
    text-align: center; /* Center text in the list */
  }
  
  .purchase-info, .buy-button-container {
    text-align: center; /* Center text and button */
  }
  
  .gradient-button, .btn-primary {
    display: inline-block; /* Make the button inline-block for centering */
    background-image: linear-gradient(to right, #6e45e2, #88d3ce);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .gradient-button:hover, .btn-primary:hover {
    background-image: linear-gradient(to left, #88d3ce, #6e45e2);
  }
  